<section class="todoapp">
  <header class="header">
    <h1>tareas</h1>
    <app-ingreso-tarea (onCrear)="crearTarea($event)"></app-ingreso-tarea>
  </header>
  <app-lista-tareas [tareas]="tareas" 
  (onBorrar)="modificarTarea($event)"
  (onModificar)="borrarTarea($event)"></app-lista-tareas>
  <app-filtro-tareas [cantidadTareas]="tareas.length" 
  (onFiltrar)="recibirFiltro($event)"></app-filtro-tareas>
</section>
<footer class="info">
  <p>Doble-click para editar tarea</p>
</footer>
