<footer class="footer">
  <span class="todo-count">
    <strong>{{cantidadTareas}} </strong>
    <span>tareas</span>
  </span>
  <ul class="filters">
    <li>
      <a (click)="filtrar({})" href="#/all" class="selected">Todas</a>
    </li>
    <li>
      <a (click)="filtrar({terminada: false})" href="#/active" class="">Activas</a>
    </li>
    <li>
      <a (click)="filtrar({terminada: true})" href="#/completed" class="">Terminadas</a>
    </li>
  </ul>
  <button class="clear-completed" style="display: none;">Limpiar terminadas
  </button>
</footer>