<section class="main">
  <input id="toggle-all" class="toggle-all" type="checkbox">
  <label for="toggle-all">Marcar todas como completas</label>
  <ul class="todo-list">
    <li [class]="tarea.terminada?'completed':''" *ngFor="let tarea of tareas">
      <div class="view">
        <input (click)="modificar(tarea)" class="toggle" type="checkbox" [checked]="tarea.terminada">
        <label>{{tarea.descripcion}}</label>
        <button (click)="borrar(tarea.id)" class="destroy"></button>
      </div>
      <!-- <input class="edit" value="Tarea 1"> -->
    </li>
  </ul>
</section>